body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    padding: 20px 0;
}

.header h1{
    margin: 0 0 10px 0;
}

.slideshow {
    flex: 1;
    
    position: relative;
    overflow: hidden;

}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}